/* Contenedor principal del Navbar */
.navbarContainer {
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    background-color: #333; /* Fondo oscuro para el navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para resaltar el navbar */
    padding: 15px 0; /* Aumenta el espaciado en la parte superior e inferior */
    display: flex; /* Flexbox para organizar los elementos */
    justify-content: space-between; /* Distribuye los elementos de izquierda a derecha */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Contenedor del toolbar, que organiza los elementos del navbar */
.toolbar {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de izquierda a derecha */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Asegura que la barra de navegación ocupe todo el ancho */
    padding: 0 20px; /* Espaciado en los lados */
}

/* Título del navbar */
.navbarTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
    letter-spacing: 1px; /* Espaciado entre las letras para darle un toque más estilizado */
    flex-grow: 1; /* Hace que el título ocupe el espacio restante */
}

/* Estilo de los botones en el navbar */
.navbarButton {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Efecto cuando el botón se encuentra en estado hover */
.navbarButton:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo suave cuando se pasa el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón ligeramente */
}

/* Para eliminar el borde azul en los enlaces */
.navbarButton:focus {
    outline:#007bff;
    box-shadow:#007bff;
}

/* Estilo para el icono del menú (hamburger) */
.iconButton {
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

/* Efecto cuando se pasa el mouse sobre el icono del menú */
.iconButton:hover {
    transform: scale(1.2); /* Escala el icono ligeramente */
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 800px) {
    .navbarContainer {
        padding: 10px 5px; /* Reduce el padding en pantallas pequeñas */
    }

    .toolbar {
        flex-direction: column; /* Coloca los elementos en columna */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .navbarButton {
        margin-top: 10px; /* Añade un margen entre los botones */
        width: 100%; /* Hace que los botones ocupen el 100% del ancho */
        text-align: center; /* Centra el texto del botón */
    }

    .iconButton {
        font-size: 35px; /* Aumenta el tamaño del icono en pantallas pequeñas */
    }
}
